@model NewsApplication.Models.ChangePasswordViewModel

@using (Html.BeginForm("ChangePassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "profile__form" }))
{
  @Html.AntiForgeryToken()
  <div class="row">
    <div class="col-12">
      <p class="login__text my-3">Mật khẩu cũ</p>
      @Html.PasswordFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control input-field" } })
      @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
    </div>
    <div class="col-12">
      <p class="login__text my-3">Mật khẩu mới</p>
      @Html.PasswordFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control input-field" } })
      @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
    </div>
    <div class="col-12">
      <p class="login__text my-3">Xác nhận mật khẩu</p>
      @Html.PasswordFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control input-field" } })
      @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-offset-2 col-md-10">
      <input type="submit" value="Lưu" class="btn btn_purple" />
    </div>
  </div>
}
@Scripts.Render("~/bundles/jqueryval")


@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
