@model NewsApplication.Models.UpdateUserViewModel

@using (Html.BeginForm("UpdateUserInfo", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "profile__form" }))
{
  @Html.AntiForgeryToken()
<div class="row">
  <div class="col-12">
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "login__text my-3" })
    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control input-field" } })
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
  </div>
  <div class="col-12">
    @Html.LabelFor(model => model.AvatarUrl, htmlAttributes: new { @class = "login__text my-3" })
    @Html.EditorFor(model => model.AvatarUrl, new { htmlAttributes = new { @class = "form-control input-field" } })
    @Html.ValidationMessageFor(model => model.AvatarUrl, "", new { @class = "text-danger" })
  </div>
  <div class="col-12">
    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "login__text my-3" })
    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control input-field" } })
    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
  </div>
    <div class="col-md-offset-2 col-md-10">
      <input type="submit" value="Save" class="btn btn_purple" />
    </div>
</div>
}
@Scripts.Render("~/bundles/jqueryval")
