@using NewsApplication.Models
@model RegisterViewModel

@{
  Layout = null;
}

@Styles.Render("~/Content/css")

<section class="login">
  <div class="container">
    <div class="login__wrapper">
      <div class="row justify-content-around">
        <div class="col-md-4 d-none d-md-block">
          <div class="login__left">
            <a href="#" class="login__logo">News.</a>
            <p class="login__info">Thông tin mới nhất về Game Việt.</p>
            <div class="games">
              <div class="games__items">
                <img src="~/Content/Images/dota.jpg"
                     alt="dota"
                     class="game__cover" />
                <div class="game__detail">
                  <p class="game__title">The Dota 2</p>
                  <p class="game__category">eSport</p>
                </div>
              </div>
              <div class="games__items">
                <img src="~/Content/Images/lol.jpg"
                     alt="lol"
                     class="game__cover" />
                <div class="game__detail">
                  <p class="game__title">League of Legends</p>
                  <p class="game__category">eSport</p>
                </div>
              </div>
              <div class="games__items">
                <img src="~/Content/Images/call-of-duty.jpg"
                     alt="duty"
                     class="game__cover" />
                <div class="game__detail">
                  <p class="game__title">Call of Duty</p>
                  <p class="game__category">Shooting</p>
                </div>
              </div>
            </div>
            <p class="discover">Khám phá nhiều hơn</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-8">
          <div class="login__form">

            @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
              @Html.AntiForgeryToken()
              <h3 class="title">Đăng kí tài khoản</h3>
              <div class="login__line">
                <span class="login__text">Bạn đã có toàn khoản ?</span>
                <a class="login__link" href="/account/login">Đăng nhập ngay</a>
              </div>
              <p class="login__text my-3">Email</p>
              @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-field" })
              @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
              <p class="login__text my-3">Họ và tên</p>
              @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-field" })
              @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
              <p class="login__text my-3">Mật khẩu</p>
              @Html.PasswordFor(m => m.Password, new { @class = "form-control input-field" })
              @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

              @Html.ValidationSummary(true, "", new { @class = "text-danger" })
              <input type="submit" value="Đăng kí" class="btn w-100 btn_purple" />
              <div class="login__text my-3">Hoặc đăng kí với</div>
            }
            <section id="socialLoginForm">
              @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
          </div>

          </div>
        </div>
    </div>
  </div>
</section>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}