@model NewsApplication.Models.Post
@{ ViewBag.Title = "Details";
  Layout = "~/Views/Shared/_Layout.cshtml"; }
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

<!-- Start main -->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="header-post w-100 p-4 bg-light">
          @foreach (var subCategory in Model.SubCategory.ToList())
          {
    <a class="btn btn-danger text-capitalize" href="/Home/DetailsCategory/@subCategory.SubCategoryId">@subCategory.Name</a>}
          <h2 class="font-weight-bold" style="font-size: 30px; margin-top:24px">@Html.Raw(Model.Title)</h2>
          <p><span>@Model.CreatedAt.ToString("dd/MM/yyyy")</span> bởi <span> <a href="#">@Model.Author.Name</a></span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-8 p-4 bg-light overflow-hidden">
          <div class="row">
            <img src="@Model.ImageUrl" alt="cover" style="width:100%; height:400px; object-fit: cover; margin-bottom: 24px; margin-left: 16px " />
          </div>
          <div class="content-post">
            @Html.Raw(Model.Content)
          </div>
          <hr />
          @if (Request.IsAuthenticated)
          {
    <div>
      <button type="button" class="like-btn" data-post-id="@Model.PostId"><i class="@ViewBag.like fa-thumbs-up    "></i></button>
      <button type="button" class="dislike-btn" data-post-id="@Model.PostId"><i class="@ViewBag.dislike fa-thumbs-down    "></i></button>
    </div> }
  else
  {
<div class="row p-4 ">
  <p>Hãy <a href="/account/login">đăng nhập</a> để bày tỏ cảm xúc :D</p>
</div>}
          <div class="row bg-light p-4" style="margin-top: 24px">
            <h4 style="font-weight: 600;">Thảo luận</h4>
          </div>
          @if (Request.IsAuthenticated)
          {
    <div class="row p-4 ">
      @{ Html.RenderAction("Index", "Comment"); }
    </div> }
  else
  {
<div class="row p-4 ">
  <p>Hãy <a href="/account/login">đăng nhập</a> để bình luận :D</p>
</div>}
        </div>
        <div class="col-4 p-4 bg-light">
          <div class="content-post position-sticky">
            @{ Html.RenderAction("rate3PostPartial", "Post"); }
            @{ Html.RenderAction("new3PostPartial", "Post"); }
          </div>
        </div>
      </div>
      <div class="row bg-light p-4" style="margin-top: 24px">
        <h2 style="font-weight: 600;">Bài viết liên quan</h2>
      </div>
      <div class="row bg-light p-4">
        @{ Html.RenderAction("relatedPostPartial", "Post"); }
      </div>
    </div>
  </div>
</div>
<!-- End main -->
@section scripts
  {
  <script src="~/Content/assets/js/comment.js"></script>
  <script src="~/Content/assets/js/bookmark.js"></script>
  <script src="~/Content/assets/js/reaction.js"></script>
}
@Scripts.Render("~/bundles/jqueryval")

