@model NewsApplication.Models.Post

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Post</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group pt-2">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2 " })
        <div class="col-md-5">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group pt-2 d-flex flex-wrap flex-column">
        <label class="control-label col-md-2 pb-2">Category</label>
        <div class="col-md-8">
            @foreach (var subcategory in ViewBag.subcategory)
            {
                <input class="form-check-input" name="sub_category_id" value="@subcategory.SubCategoryId" type="checkbox" id="sub_category">
                <label class="form-check-label" for="sub_category_id" style="margin-right: 10px;">
                    @subcategory.Name
                </label>
            }
            <p class="text-danger">@ViewBag.error</p>
        </div>
    </div>

    <div class="form-group pt-2">
        @Html.Label("Image", "Image", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 ">
            @Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group pt-2">
        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-8">
            <textarea name="Content" id="editor" class="form-control"></textarea>
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group pt-2">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
