@model NewsApplication.Models.Post

@{
    ViewBag.Title = "Xóa";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn chắc chắn xóa bài viết này không?</h3>
<div>
    <h4>Bài đăng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Author</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.Email)
        </dd>

        <dt>
            <label>Tiêu đề</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            <label>Hình ảnh</label>
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.ImageUrl)" width="200px" />
        </dd>

        <dt>
            <label>Lượt xem</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Views)
        </dd>

        <dt>
            <label>Ngày khởi tạo</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            <label>Ngày cập nhập</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger"/>
            <button class="btn btn-primary">@Html.ActionLink("Quay lại", "Index", " ",new { @class = "text-white text-decoration-none" })</button>
        </div>
    }
</div>
