@model NewsApplication.Models.Post

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Bài đăng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Tác giả</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.Email)
        </dd>

        <dt>
            <label>Tiêu đề</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            <label>Hình ảnh</label>
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.ImageUrl)" width="100px" />
        </dd>

        <dt>
            <label>Lượt xem</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Views)
        </dd>

        <dt>
            <label>Ngày khởi tạo</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            <label>Ngày cập nhập</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.PostId }) |
    @Html.ActionLink("Quay trở lại", "Index")
</p>
