@model NewsApplication.Models.SubCategory

@{
    ViewBag.Title = "Sửa";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4> @Html.ActionLink("Thể loại", "Index", "Categories", "", new { @class = "text-decoration-none" }) - Sửa </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SubCategoryId)

        <div class="form-group">
            <label class="control-label col-md-2 pb-2">Thể loại chính</label>
            <div class="col-md-10">
                @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 pb-2">Tên</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group pt-2 pb-2">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-primary" type="submit">Lưu</button>
            </div>
        </div>
    </div>
}

<div>
    <button class="btn btn-primary">  @Html.ActionLink("Quay lại", "Index", "Categories", "", new { @class = "text-white text-decoration-none" })</button>
    <button class="btn btn-danger">@Html.ActionLink("Xóa", "Delete", new { id = Html.DisplayFor(model => model.SubCategoryId) }, new { @class = "text-white text-decoration-none" }) </button>
</div>
