@using NewsApplication.Models
@using PagedList.Mvc
@model PagedList.PagedList<Post>

@{
  ViewBag.Title = "Index";
}

<div class="container">
  <div class="row g-3" style="margin-bottom:24px;">
    <div class="col-6">
      <div style="height: 418px">
       @{ Html.RenderAction("postCardNew", "Post", new { id = @ViewBag.Top1Post.PostId }); }
      </div>
    </div>
    <div class="col-3">
      <div class="row">
        <div style="height: 200px; margin-bottom: 16px">
          @{ Html.RenderAction("postCardNew", "Post", new { id = @ViewBag.Top2Post.PostId }); }
        </div>
      </div>
      <div class="row">
        <div style="height: 200px; margin-bottom: 16px">
          @{ Html.RenderAction("postCardNew", "Post", new { id = @ViewBag.Top3Post.PostId }); }
        </div>
      </div>
      </div>
    <div class="col-3">
      <div class="row">
        <div style="height: 200px; margin-bottom: 16px">
          @{ Html.RenderAction("postCardNew", "Post", new { id = @ViewBag.Top4Post.PostId }); }
        </div>
      </div>
      <div class="row">
      <div style="height: 200px; margin-bottom: 16px">
        @{ Html.RenderAction("postCardNew", "Post", new { id = @ViewBag.Top5Post.PostId }); }
      </div>
      </div>
    </div>
    </div>
  <div class="row g-3">
    @foreach (var post in Model)
    {
    <div class="col-3">
      @{ Html.RenderAction("postCard", "Post", new { id = post.PostId }); }
    </div>
    }
  </div>
</div>

<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
  <div id="liveToast" class="toast align-items-center text-white border-0" role="alert" aria-live="assertive" aria-atomic="true" style="background: #4caf50">
    <div class="d-flex">
      <div class="toast-body">
        Lưu bài viết thành công !!
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close" id="close-toast"></button>
    </div>
  </div>
</div>
<div style="margin-top: 48px; margin-bottom: 48px">
  @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>

@section scripts
  {
  <script src="~/Content/assets/js/bookmark.js"></script>
}