@model NewsApplication.Models.Category

@{
    ViewBag.Title = "Xóa";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có chắc chắn muốn xóa thể loại này?</h3>
<div>
    <h4> @Html.ActionLink("Thể loại", "Index", "", new { @class = "text-decoration-none" }) - Xóa </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Tên</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <label>Màu sắc</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Xóa" class="btn btn-danger" />
    <button class="btn btn-primary">@Html.ActionLink("Quay lại", "Index", " ", new { @class = "text-white text-decoration-none" })</button>
</div>
    }
</div>
