@model IEnumerable<NewsApplication.Models.Category>

@{
    ViewBag.Title = "Thể loại";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thể loại</h2>

<p>
    <button class="btn btn-primary"> @Html.ActionLink("Tạo thể loại chính", "Create", null, new { @class = "text-white text-decoration-none" })</button>
    <button class="btn btn-primary"> @Html.ActionLink("Tạo thể loại con", "Create", "SubCategories", null, new { @class = "text-white text-decoration-none" })</button>
</p>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i> Thể loại
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>
                       Tên
                    </th>
                    <th>
                        Màu
                    </th>
                    <th>
                        Thể loại con
                    </th>
                    <th>Sửa</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>
                        Tên
                    </th>
                    <th>
                        Màu
                    </th>
                    <th>
                        Thể loại con
                    </th>
                    <th>Sửa</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-md-2">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="col-md-2">
                            @Html.DisplayFor(modelItem => item.Color)
                        </td>
                        <td class="col-md-6">
                            @{
                                Html.RenderAction("RenderSubMenu", "Categories", new { id = item.CategoryId });
                            }
                        </td>
                        <td class="col-md-2">
                            <button class="btn btn-primary">@Html.ActionLink("Sửa", "Edit", new { id = item.CategoryId }, new { @class = "text-white text-decoration-none" }) </button>
                            <button class="btn btn-danger">@Html.ActionLink("Xóa", "Delete", new { id = item.CategoryId }, new { @class = "text-white text-decoration-none" }) </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
